<div class="content">
  <div id="card">
    <div class="row">
      <div class="col-12">
        <img
          width="50%"
          style="margin-left: 25%; padding: 2em"
          src="assets/logo/maintainv-logo.svg"
          alt=""
        />
      </div>
    </div>
    <div class="col-12">
      <form [formGroup]="forgotForm">
        <p
          class="text-center"
          style="padding-right: 2em; padding-left: 2em; padding-top: 1em"
        >
          Please enter the email address associated with your account and We
          will email you a link to reset your password.
        </p>
        <div class="form-group p-4">
          <label class="fw-bolder p-2"> Email Address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
          />
          <span
            *ngIf="f['email'].errors && f['email'].errors['email']"
            class="text-danger d-flex justify-content-end"
          >
            Please use a valid email.</span
          >
        </div>

        <div class="buttons">
          <button
            id="button1"
            type="submit"
            class="btn btn-primary"
            [disabled]="forgotForm.invalid"
          >
            FORGOT PASSWORD
          </button>
          <button
            id="button2"
            type="button"
            class="btn btn-outline-primary"
            routerLink="/login"
          >
            BACK TO LOGIN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
