.content {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #06044d 50%, #cde4ff 50%);
}

#card {
  background: #ffffff;
  margin-left: 30%;
  margin-top: 10%;
  position: absolute;
  border-radius: 20px !important;
  width: 40%;
  height: 60vh !important;
}
.text-danger {
  padding: 1em;
  font-size: 12px;
}

#button1 {
  margin-left: 4%;
  width: 92%;
}
#button2 {
  margin-top: 10px;
  margin-left: 4%;
  width: 92%;
}

@media (max-width: 600px) {
  .content {
    background: linear-gradient(to bottom, #06044d 50%, #cde4ff 50%);
  }
  #card {
    height: 95vh !important;
    margin-top: 3.8%;
  }
}

@media (max-width: 980px) {
  .content {
    background: linear-gradient(to bottom, #06044d 50%, #cde4ff 50%);
  }
  #card {
    width: 70%;
    margin: 0;
    margin-left: 3.6em;
    height: 95vh !important;
    margin-top: 2.6%;
  }
  img {
    width: 70%;
    margin: 0 !important;
    margin-left: 2.6em !important;
  }
}
