<div class="footer p-5">
  <div id="list" class="row text-center">
    <div class="col-3">
      <a href="#">
        <img width="100%" src="assets/logo/maintainv-logo2.svg" alt=""
      /></a>
    </div>

    <div class="col-3">
      <h5>Industries</h5>
      <div class="border"></div>

      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </div>
    <div class="col-3">
      <h5>About</h5>
      <div class="border"></div>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </div>

    <div class="col-3">
      <h5>Contact</h5>
      <div class="border"></div>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </div>
  </div>
</div>
