<div id="about" class="row">
  <div id="header" class="col-6">
    <h1>ABOUT US</h1>
    <p class="text-muted">This is Maintain-V</p>
  </div>
  <div class="title col-6">
    <p>
      Maintainv is a service-first company that develops software designed to
      facilitate and make maintenance management feasible for maintenance
      personnel, maintenance chiefs and maintenance managers all over the world,
      with its customer perspective and extensive literature reviews. We
      continue to produce the best possible service by blending it with smart
      technologies in line with countless customer experiences and academic
      research. With our expert team, we provide 24/7 support to our customers
      all over the world and offer them unique solutions.
    </p>
  </div>
</div>

<div class="img">
  <img width="100%" src="assets/about/about.png" alt="About" />
</div>

<div class="title2">
  <p>
    Maintainv's dynamic and flexible structure allows you to instantly control
    all your maintenance processes from a single application. With its powerful
    infrastructure, you can always follow all your maintenance processes with a
    single click from anywhere in the world.
  </p>
  <p>
    With Maintainv, one of the VİDA MMS sub-companies serving the public and
    private sectors, it has succeeded in strengthening its maintenance
    management and automation processes and carried them to the next level.
    Maintain V, which has managed to bring its brand value to the top with
    precision with its user-first strategies and privileged customer portfolio,
    creates world-class solutions.
  </p>
  <p>
    In this adventure that started with the principle of trust; It has
    demonstrated its brand identity and quality by aiming to consistently
    provide the best CMMS service to countless customers without straying from
    the authority's track. It has earned the right to rise to a respected
    position in the world of CMMS and maintenance automation by exhibiting
    steady growth with its professional, empathy-oriented, honest and
    open-to-improvement perspective since its establishment.
  </p>
</div>
