#about {
  margin: auto;
  padding: 2em;
  background-color: #f4f5f6;

  #header {
    padding: 5em;
  }
  h1 {
    font-family: "Keep Calm", sans-serif;
    margin-top: 2em;
    font-size: 3em;
  }
  .title {
    margin-top: 9em;
  }
}
.title2 {
  margin-top: 2em;
  padding: 2em !important;
}

@media (max-width: 600px) {
  .title {
    margin-top: 1em !important;
  }
  #header {
    padding: 2em !important;
  }
}
