.search-bar {
  margin-top: 12.2em;
  position: absolute;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  background: #6a89cc;
  width: 500px;
  height: 40px;
  padding: 0.2rem 0.6rem 0.2rem 0.2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 0 #4a69bd, 2px 2px 0 0 #4a69bd, 3px 3px 0 0 #4a69bd,
    4px 4px 0 0 #4a69bd, 5px 5px 0 0 #4a69bd, 6px 6px 0 0 #4a69bd;
}

.search-bar input {
  border: 0;
  width: 85%;
  padding: 0 1rem;
  font-size: 1rem;
  font-style: italic;
}

.search-bar button {
  margin-left: auto;
  background: none;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
}

.blogTitle {
  margin-top: 50px;
  width: 73% !important;
  position: absolute;
  font-size: 15em;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

//
.container {
  margin-top: 17em !important;
  margin-left: 8em !important;
  margin-bottom: 5em;
  width: 100%;
  margin: auto;
}

.container .card {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #071952;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #35a29f;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  width: 30%;

  margin-left: 35% !important;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #071952;
  padding: 5px;
  border: 1px solid #071952;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}
