<div class="content">
  <h3>Distance Sales Agreement</h3>
  <p>ARTICLE 1: THE PARTIES AND THE PRODUCT SOLD</p>
  <p>ARTICLE 1.1 SELLER INFORMATION</p>
  <p>Title: MaintainV Technologies, Inc</p>
  <p>Address: Veko Giz Plaza. No:20/45 Maslak / İstanbul</p>
  <p>Telephone: (+90) 850 305 21 81</p>
  <p>Email: info@maintainv.com</p>
  <p>Web address: https://maintainv.com/</p>
  <p>ARTICLE 1.2 BUYER:</p>
  <p>Name / Surname / Title: Final Consumer (“BUYER”)</p>
  <p>ARTICLE 1.3 FEATURES OF THE PRODUCT</p>
  <p>
    The BUYER has purchased the digital content of a service nature, the
    features of which are specified in this Distance Sales Agreement
    (“Agreement”) and the Preliminary Information Form, and a package content to
    be selected by the buyer on the www.maintainv.com.tr website. This Product
    covers maintenance processes management and is offered for sale as a monthly
    package. Digital content within the scope of the product can be accessed for
    the duration of the specified usage license for 30 days from the date of
    purchase. The product includes Maintain V digital contents. Other features
    and terms of use of the product are detailed in the information on the
    "www.maintainv.com.tr" website.
  </p>
  <p>
    Without leaving any doubt, the content of the package purchased at
    www.maintainv.com.tr, its features and terms of use are clearly and
    comprehensibly stated.
  </p>
  <p>ARTICLE 2: SUBJECT</p>
  <p>
    The subject of this Agreement; Law No. 6502 on the Protection of the
    Consumer regarding the sale of the Product, specified in Article 1.3, which
    has the qualifications mentioned in this Agreement, which the BUYER has
    purchased electronically from the SELLER's website www.maintainv.com.tr and
    It is the determination of the rights and obligations of the parties in
    accordance with the provisions of the Regulation on Distance Contracts.
  </p>
  <p>
    The BUYER accepts and declares in accordance with the provisions of this
    Agreement that he has knowledge of all preliminary information about the
    Product, such as the basic characteristics of the Product subject to sale,
    sales price, payment method, approves these preliminary information in
    electronic environment and then purchases the Product in electronic
    environment. The Preliminary Information Form includes the End User License
    Agreement for the Product and the price of the Product to be sent on behalf
    of the BUYER, and the invoice is an integral part of this Agreement.
  </p>
  <p>ARTICLE 3: AGREEMENT DATE</p>
  <p>
    This Agreement has been concluded between the BUYER and the SELLER on the
    internet at the moment it is declared that it has been read and accepted by
    the BUYER, and will have its provisions and consequences from this moment. A
    copy of the Contract will be sent to the BUYER's e-mail address via e-mail.
  </p>
  <p>ARTICLE 4: DELIVERY OF THE PRODUCT, METHOD OF PERFORMANCE</p>
  <p>
    The BUYER, regarding the Product purchased; The sale is deemed to be
    completed without the need for any other action following (i) reading and
    approving the Distance Sales Agreement, (ii) making the payment for the
    product price.
  </p>
  <p>
    The BUYER is obliged to enter the information belonging to the User
    completely and completely, and if the BUYER provides incomplete or incorrect
    information, the SELLER is not responsible if the Product cannot be used.
    The BUYER, during the establishment of this Agreement, provided the
    necessary information regarding the processing of the personal data of the
    User by the SELLER, in this context, he is authorized to share the personal
    data of the User that he shared with the SELLER, and fulfills the necessary
    disclosure obligation to the User within the scope of KVKK ( accepts that
    he/she receives his/her explicit consent, if necessary), that he/she bears
    all kinds of responsibility in this regard.
  </p>
  <p>ARTICLE 5: BUYER'S STATEMENTS AND COMMITMENTS</p>
  <p>
    The BUYER has declared that he has read, understood and accepted all the
    preliminary information about the Product before purchasing the Product
    specified in article 1.3. By purchasing the product in question, the BUYER
    has obtained the right to use and benefit within the specified limits and
    conditions. The BUYER shall use the purchased Product in accordance with all
    legislation, this Agreement, shall not copy, process, disseminate, publicly
    transmit or retransmit the product, and shall not be subject to any
    restrictions imposed in the Law on Intellectual and Artistic Works No. 5846
    on this subject. accepts and declares that it will comply with all
    obligations within the framework of In the event that the BUYER violates the
    obligations under this Agreement, the SELLER reserves the right to terminate
    this Agreement, terminate the use of the digital content provided to the
    BUYER, and close or restrict the BUYER's digital access.
  </p>
  <p>ARTICLE 6: STATEMENTS AND COMMITMENTS OF THE SELLER</p>
  <p>
    The SELLER is responsible for the conformity of the Product subject to this
    Agreement with the specified qualifications. All responsibility for the
    applications provided by the third parties for the digital content of the
    products provided by the SELLER to run on the mobile or desktop devices of
    the BUYER belongs to the BUYER. The SELLER is obliged to ensure the
    continuity of the use of the Product provided under this Agreement for a
    total of 30 days during the 1-month license period, excluding the force
    majeure present in the Preliminary Information Form. Change of digital
    content in the Product, etc. The fact that the BUYER cannot access the
    digital content on days other than the 30-day total usage license period
    provided to the BUYER within 1 month for the purposes of changing, updating
    and improving the contents due to reasons, shall not constitute a violation
    of continuity.
  </p>
  <p>
    In the event that the presentation of the Product becomes impossible due to
    a reason not arising from the SELLER, it shall be obliged to notify the
    BUYER within 3 (three) days from the date of learning that the performance
    of the Contract is impossible and to stop the service within this period.
    The SELLER is also obliged to notify all BUYERS of any changes regarding the
    product in question on the official website of www.maintainv.com.tr or by
    any other method to be determined.
  </p>
  <p>
    digital contents; access may be closed on certain days due to software
    development, updating and similar reasons. The SELLER does not guarantee to
    the BUYER that the digital content is open 24 hours a day, 7 days a week,
    and does not give any service or performance commitment in this regard.
  </p>
  <p>SALES PERSON;</p>
  <ul>
    <li>
      a) Provide the Usage license, which can be used for 30 days from the date
      of establishment of this Agreement, and will keep the digital content
      available for the use of the BUYER during this usage license period.
    </li>
    <li>
      b) The effective use of the Product and all the results of this use are
      the responsibility of the BUYER, and the SELLER is not responsible for any
      direct or indirect damages that may arise due to the fact that the Product
      is not in accordance with the subjective expectation of the BUYER. The
      SELLER shall not be liable in any way for any loss or damage incurred as a
      result of any features offered with the Product, data loss or any errors,
      damages or corruptions, any copyright and/or proprietary rights violations
      that may occur as a result of the use of the Product by the BUYER. The
      SELLER has the authority, at its sole discretion, to make changes on any
      digital feature offered with the Product, to remove the feature it does
      not deem appropriate and/or to add a new content, and to update the
      content in order to make it compatible with the curriculum.
    </li>
  </ul>
  <p>ARTICLE 7: PRICE OF THE PRODUCT, PAYMENT AND DURATION OF THE AGREEMENT</p>
  <p>
    This Agreement is valid for 30 days from the date of its conclusion. The
    price of the product will be paid in advance. For the avoidance of doubt,
    the Product is a whole and the Product Price cannot be divided.
  </p>
  <p>
    The Product Price includes all taxes and carrier charges. Payment can be
    made by one of the following methods:
  </p>
  <ul>
    <li>
      Payment by Credit Card: It is a payment method made by using a credit card
      following the instructions on the www.cotcasting.com.tr website. In this
      method, the Product Price is collected by the authorized electronic
      payment provider.
    </li>
  </ul>
  <p>ARTICLE 8: RIGHT OF WITHDRAWAL</p>
  <p>
    Since there is digital content within the scope of the product, the BUYER
    has no right of withdrawal from the moment of access to the digital content,
    pursuant to Article 15/ğ of the Regulation on Distance Contracts.
  </p>
  <p>
    Before accessing the digital content and/or after the demo version is
    delivered to the BUYER, the BUYER must notify the SELLER by phone or e-mail
    within 14 (fourteen) days, and the account created by the user must be able
    to be deleted. For the avoidance of doubt, the content, features, etc. of
    the product. If the information is shared by the BUYER with other persons
    and third parties without permission, the performance will be deemed to have
    taken place and the BUYER will not be able to use its right of withdrawal.
    The product is a whole consisting of digital content and features and cannot
    be divided, subject to the right of withdrawal or refund separately.
  </p>
  <p>
    The Product Price is returned to the BUYER within 10 (ten) days following
    the receipt of the Product to the SELLER under the above conditions.
  </p>
  <p>ARTICLE 10: TERMINATION AND TERMINATION OF THE AGREEMENT</p>
  <p>
    This Agreement automatically terminates on the date specified in Article 7
    of the Agreement.
  </p>
  <p>
    The SELLER may terminate the Agreement immediately if the BUYER does not
    fulfill its obligations arising from this Agreement as specified in this
    Agreement, the Preliminary Information Form and the End User License
    Agreement. In this case, the BUYER cannot demand any price from the SELLER.
  </p>
  <p>
    In addition, the SELLER may, depending on the changes in the business models
    and at its sole discretion, refuse to offer the Product subject to this
    Agreement to the BUYER. In this case, the amount to be obtained by
    multiplying the rate to be found by dividing the period from the date of
    termination to the date specified in Article 7 by the total duration of the
    Contract is returned to the BUYER. The BUYER shall not have the right to
    demand any price under any name other than this.
  </p>
  <p>ARTICLE 11: AUTHORIZED COURT</p>
  <p>
    In disputes arising from or related to this Agreement, the BUYER may apply
    to the Consumer Arbitration Committee or Consumer Court in the place of
    residence.
  </p>
  <p>ARTICLE 12: EFFECTIVENESS</p>
  <p>
    This Agreement will enter into force with all its terms and conditions if it
    is read and approved by the BUYER electronically. The BUYER has read and
    approved the Agreement knowing this.
  </p>
  <p>
    A copy of this Agreement, 1.2. It will be automatically sent to the e-mail
    address in the article to be kept by the BUYER.
  </p>
</div>
