<div class="content">
  <h3>Privacy Policy</h3>
  <p>Company name :</p>
  <p>Update Date of Privacy Policy:</p>
  <p>Address :</p>
  <p>E-mail address :</p>
  <p>Telephone :</p>
  <p>
    Maintain V values the privacy of individuals who use the Maintain V website,
    mobile application and related services (collectively the "Services"). This
    Privacy Policy ("Policy") describes the information we collect from
    visitors, users, and others who access or use the Services ("Users", "you"
    or "your"), how we use and disclose that information. and the steps we take
    to protect that information. By using the Services, you accept the privacy
    practices described in this Policy.
  </p>
  <p>
    This Policy is incorporated into and subject to the Maintain V Terms of Use.
    Capitalized terms used but not defined in this Policy have the meaning given
    to them in the Terms of Use.
  </p>
  <p>
    This Privacy Policy is provided to help you understand: (i) the Personal
    Information we collect, how we collect, use and share it, (ii) the
    applicable rights you have in relation to your Personal Information, and
    (iii) how Maintain V protects your Personal Information. Personal
    Information does not include aggregated information or information that has
    been completely anonymized or anonymized in accordance with applicable law
    and this Privacy Policy does not apply to them.
  </p>
  <p>Types of Personal Information We Collect</p>
  <p>Personal Information</p>
  <p>
    Personal Information may include, but is not limited to, your name, address,
    email address, phone number, company information, and payment information.
    You may provide Personal Information to us when you register for an account,
    use the Services, make a purchase, contact customer support, sign up for
    marketing materials, or otherwise communicate with us. Please note that we
    may not be able to provide certain parts of the Services if you choose not
    to share certain Personal Information with us or if you refuse certain
    communication permissions. In addition, other Users (for example, within
    your company) may provide us with your Personal Information, such as when a
    User invites you to join the Services or create an account. In such a case,
    if you wish to exercise any of your rights regarding your Personal
    Information, please contact the relevant third party directly.
  </p>
  <p>Usage Information</p>
  <p>
    We collect information about how you interact with the Services, such as
    device type, IP address, operating system, browser type, referring website
    address, activity on our website, device ID, access dates and times,
    location, information about you. Processes and other system activities in
    services. We may collect certain information through automated means using
    technologies such as cookies, web beacons, pixels, browser analytics tools,
    server logs and mobile identifiers. In most cases, the information we
    collect using cookies and other tools is used only in a non-identifiable way
    without reference to Personal Information. For example, we may use the
    information we collect to better understand website traffic patterns and
    optimize your experience. We track users' use of the Services, but do not
    track users on third-party websites. We do not process or respond to "do not
    track" signals or other similar transmissions from web browsers that
    indicate a request to disable online tracking of users visiting or using the
    Services.
  </p>
  <p>Opt-out of Content Square Tracking</p>
  <p>
    If you choose to link your account to your account with a third-party
    service, we may receive or obtain permission to access information,
    including Personal Information, from such third-party services. You can stop
    your information from being shared with us from a third-party service by
    removing our access to that service.
  </p>
  <p>Third-Party Cookies</p>
  <p>
    When you use and visit the Services, we may also use third-party services
    such as Google Analytics and Facebook, which use cookies to collect
    information about you for analytics or advertising purposes. Third parties
    may also use cookies, web beacons or other devices to collect information
    when you use the Services. Maintain V does not control cookies or other data
    collection tools that may be placed on the Services by third parties, and
    this Policy does not cover any third party use of such cookies and/or other
    data collection tools. We encourage you to read the privacy policies of
    these third parties to learn more about the information that may be
    collected and the choices you have regarding the collection, use and sharing
    of that information.
  </p>
  <p>2.How We Use Your Information</p>
  <p>Provide, Maintain and Improve Services</p>
  <p>We may use your information for the following purposes:</p>
  <p>
    we can contact you if you contact us directly or sign up for marketing
    materials
  </p>
  <p>to fulfill our obligations under the contract we signed with you</p>
  <p>provide customer service and handle all transactions</p>
  <p>
    send you confirmations, updates, security alerts, and support and management
    messages
  </p>
  <p>detect and prevent fraud</p>
  <p>
    Operate, protect and optimize the Services and your experience, such as
    through analytics and research
  </p>
  <p>Troubleshooting and protection against errors</p>
  <p>
    Personalize and improve the Services, including recognizing and
    communicating with you across multiple devices
  </p>
  <p>
    monitor and analyze usage and trends and otherwise measure the effectiveness
    of the Services
  </p>
  ,
  <p>
    Advertise and market our Services, including serving interest-based ads,
    providing cross-device connectivity, and analyzing the performance of such
    activities
  </p>
  <p>develop new features</p>
  <p>Sharing Your Information</p>
  <p>
    If you use the Services, you authorize us to share the following
    information:
  </p>
  <p>
    with our third-party business partners, suppliers, and consultants who
    perform services on our behalf that you direct us to disclose to others or
    who help us provide Services such as accounting, management, technical,
    marketing, or analytical services, if required by law or to comply with
    local, state, federal, or international law, or to comply with a court
    order, judicial or other government subpoena or order, or if it is believed
    in good faith that such action is necessary in the event of bankruptcy
    proceedings, to do so is reasonably necessary or to enforce or enforce this
    Policy, our Terms of Use, or any of our other policies or agreements, from
    Users' fraudulent, malicious, improper or unlawful use of the Services,
    including but not limited to Maintain V or to protect our company, any
    merger, sale of company assets in connection with or during negotiations
    regarding financing or acquisition, or in any other situation where
    information may be disclosed or transferred as one of Maintain V's business
    assets.
  </p>
  <p>
    Nothing here restricts the sharing of aggregated or anonymized information
    that may be shared with third parties without your consent. This Policy in
    no way restricts or limits our collection and use of aggregated or
    de-identified information.
  </p>
  <p>Links to Third-Party Sites and Services</p>
  <p>
    The Services may contain links to other websites. We are not responsible for
    the applications used by websites or services that link to or from the
    Services, or the information or content provided to or contained therein.
    Please note that when you use a link from the Services to go to another
    website, this Policy does not apply to those third-party websites or
    services. Your browsing and interaction on any third party website or
    service, including those with links to the Services, is subject to that
    third party's own rules and policies. Please read these rules and policies
    before continuing.
  </p>
  <p>
    We consider the confidentiality of your Personal Information to be very
    important and we are committed to using your Personal Information with care.
    You have certain rights regarding your Personal Information, including:
  </p>
  <p>3.Your Rights Regarding Personal Info</p>
  <p>
    If your Personal Information is processed within the scope of legitimate
    interests such as direct marketing, you have the right to object to the
    processing. You also have the right to withdraw your consent to the
    processing of your Personal Information at any time. We will stop processing
    your information unless there is a legitimate purpose or required by law.
    For any use or disclosure not required by law, we will rely primarily on
    your consent or in your legitimate interests.
  </p>
  <p>Right to Non-Discrimination:</p>
  <p>We will not discriminate or punish you for exercising your rights.</p>
  <p>Requests to Exercise Rights</p>
  <p>
    If you wish to exercise your rights to access, delete, waive, amend/correct
    or object/restrict/withdraw consent, you can contact us at:
  </p>
  <p>info@maintainv.com.tr</p>
  <p>
    Claim methods will consist of two (2) steps: one to claim your rights and
    another to verify your identity/claim.
  </p>
  <p>
    We will respond to the request within ten (10) days and provide information
    on how to process the request. We will respond to the request within
    forty-five (45) days from the day the request is made. Note: Responding to a
    request may take an additional forty-five (45) days, up to a maximum of
    ninety (90) days, provided we give you an explanation of why within the
    first forty-five (45) days. Why does the request take longer to be
    fulfilled?
  </p>
  <p>
    As part of the request we need to verify your identity. Failure to
    authenticate may result in the request being denied. If the request is not
    verified, we will notify you and act accordingly.
  </p>
  <p>
    Once a request has been approved, we will honor the request to the best of
    our ability. The claim record will be retained for two (2) years.
  </p>
  <p>
    Once a request has been approved, we will honor the request to the best of
    our ability. The claim record will be retained for two (2) years.
  </p>
  <p>
    Your rights may be limited if fulfilling a request would expose Personal
    Information about someone else, or if you ask us to delete information as
    required by law or defend ourselves against claims.
  </p>
  <p>
    If the request is denied, we will notify you of the rejection and the reason
    for the rejection. If the request is partially denied, we will notify you of
    the exempted portion and we will not use the stored Personal Information for
    purposes other than those that may be exempted.
  </p>
  <p>
    Fees for making claims: You can exercise your above rights free of charge or
    with no penalty, but if we find that the request is too burdensome or too
    frequent, we may limit the number of requests you make or charge a
    reasonable fee to the extent permitted by law.
  </p>
  <p>4.How We Protect Your Information</p>
  <p>
    We implement appropriate administrative, physical, technical, organizational
    measures and security controls to protect Personal Information and prevent
    loss, misuse, unauthorized access, disclosure, alteration and destruction.
    We will only retain your Personal Information for as long as necessary to
    fulfill the purposes for which we collected it, including to meet any legal,
    accounting or reporting requirements. We may also retain and use your
    Personal Information for as long as necessary to resolve disputes and/or
    enforce our rights. Where we rely on your consent to process your Personal
    Information, you have the right to refuse your consent and/or withdraw
    consent, if given, at any time. This will not affect the lawfulness of the
    processing made before you withdraw your consent.
  </p>
  <p>
    We limit access to Personal Information to our employees, agents,
    contractors and other third parties with a business need to know. They will
    only process Personal Information on our instructions and are subject to an
    obligation of confidentiality. We have implemented procedures to address
    suspected Personal Information breaches and will notify you and any relevant
    regulator of a breach as legally required.
  </p>
  <p>
    However, despite our best efforts, no security measure is perfect or
    insurmountable and that no method of data transmission is safe from any
    tampering or other abuse.
  </p>

  <p>
    Please note that it cannot be guaranteed. To protect the confidentiality of
    the information held in your account, you should keep your password
    confidential and not disclose it to anyone else. You are responsible for any
    use of the Services by anyone using your password. If you believe your
    password has been misused or suspect a security breach, please notify us
    immediately by contacting us as set forth in the "Contact" section below.
  </p>
  <p>5.International Transfers</p>
  <p>European Users</p>
  <p>
    If you choose to use the Services in the EU, UK, Switzerland or other
    regions of the world where laws governing data collection and use may differ
    from US law, please note that you are transferring your Personal Information
    outside of those regions. USA for storage and processing. By providing the
    Services or the Services with any information, including Personal
    Information, you consent to such transfer, storage and processing.
  </p>
  <p>
    As described in this Policy, we may share Personal Information with third
    parties and may be required to disclose information in response to lawful
    requests from public authorities, including to meet national security or law
    enforcement requirements.
  </p>
  <p>
    The legal bases for processing your Personal Information for the purposes of
    this Policy are as follows:
  </p>
  <p>
    You have given your consent to this Policy, which you can withdraw at any
    time by sending an email to the email address below. The processing required
    for our contractual relationship is necessary for us to comply with our
    legal or regulatory obligations, the processing is in our legitimate
    interest as the provider of the Services (for example, to protect the
    security and integrity of our systems and to provide you with customer
    service and to provide basic functionality of the Services)
  </p>
  <p>Other International Transfers</p>
  <p>Other International Transfers</p>
  <p>
    If you are located outside of the US, EU, UK and Switzerland and you choose
    to provide Personal Information to us, we may transfer your Personal
    Information to the US and process it there (or any other country in which we
    operate or do business). have common positions). When you provide your
    Personal Information, it may be sent to servers located in the United States
    and other countries around the world. If you are resident or located in the
    EU, UK or Switzerland and such transfers occur,
  </p>
  <p>
    For processing activities carried out in other countries, we take
    appropriate steps to provide the same level of protection as you would in
    the EU, UK. or Switzerland to the extent possible under applicable law.
  </p>
  <p>6.California Privacy Rights</p>
  <p>
    California law allows California residents to request and receive from us,
    at no cost, a list of third parties whose personal information (if any) we
    have disclosed for direct marketing purposes in the previous calendar year,
    once a year. as the type of personal information disclosed to these third
    parties. See the “Contact” section to find out where to send such requests.
    We do not share your Personal Information with third parties for their own
    direct marketing purposes without your prior consent. Accordingly, you may
    prevent the disclosure of your Personal Information to third parties for
    direct marketing purposes without consent. Effective January 1, 2020, the
    California Consumer Privacy Act of 2018 ("CCPA") requires California
    residents to, upon a verifiable consumer request, A business collecting
    personal information (as defined in the CCPA) provides consumers with access
    to certain pieces and categories of personal information that the Business
    collects about the consumer, the source categories for that information, in
    a portable and (if technically feasible) easily usable form for the business
    or commercial purposes of collecting the information; and the categories of
    third parties with whom the information is shared. California residents also
    have the right to request deletion of information under certain
    circumstances. See the “Contact” section to find out where to send such
    requests. In accordance with California law, if you choose to exercise your
    rights, we will not charge you different prices or provide services of a
    different quality unless those differences relate to your information.
    Please note that you must verify your identity and request before any
    further action is taken. Formal identification may be required as part of
    this process. In accordance with California law, you may appoint an
    authorized representative to make claims on your behalf. To appoint an
    authorized representative to make a request on your behalf, you must present
    a valid power of attorney, a valid government-issued ID of the requester,
    and a valid government-issued ID of the authorized representative.
  </p>
  <p>
    We do not sell personal information to third parties. We allow third parties
    to collect and share personal information through the Services and to share
    personal information with third parties for the business purposes described
    in this Policy.
  </p>
  <p>7.Children's Privacy</p>
  <p>
    The Services are not directed to children under the age of 16 and we do not
    knowingly collect Personal Information from children under the age of 16. If
    we learn that we have collected Personal Information from a child under the
    age of 16, we will take appropriate steps as soon as possible to delete such
    information from our files.
  </p>
  <p>8.Accessing and Modifying Your Information</p>
  <p>
    If you have an account on the Services, you can access and change the
    Personal Information associated with your account through your profile
    settings or by emailing us at the email address below.
  </p>
  <p>
    You can "opt out" of receiving marketing or promotional emails from us by
    following the instructions in these emails or by emailing us at the email
    address below. If you disable this option, we may continue to send you
    non-promotional emails such as emails about your account or our ongoing
    business relationships (i.e. account verification, transaction
    communications, changes/updates to features of the Services, and technical
    and security notices).
  </p>
  <p>9.Changes and Updates to the Policy</p>
  <p>
    We reserve the right to change the provisions of this Policy at any time.
    Please revisit this page periodically to be aware of changes. If we change
    this Policy, we will make it available through the Services and indicate the
    date of the latest revision. Your continued use of the Services after the
    revised Policy becomes effective indicates that you have read, understood
    and accepted the current version of this Policy.
  </p>
  <p>10.Contact</p>
  <p>Email :</p>
  <p>Phone :</p>
  <p>Address :</p>
</div>
