a {
  text-decoration: none;
  color: black;
}
.content {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #06044d 50%, #cde4ff 50%);
}

#card {
  background: linear-gradient(to right, #cde4ff 50%, #ffff 50%);
  margin-left: 15%;
  margin-top: 5%;
  position: absolute;
  border-radius: 20px !important;
  width: 70%;
  height: 80vh !important;
}
.loginPhoto {
  width: 100%;
  margin-top: 20%;
}
.logoPhoto {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.hr-text {
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    color: #818078;
    background-color: #fcfcfa;
  }
}

.login {
  svg {
    margin-top: 2px !important;
    float: right;
  }
  margin: auto;
  margin-top: 2%;
  width: 90%;
  height: 5vh;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #0066ff;
}
.back {
  float: right !important;
  margin-right: 1em;
  margin-top: 1em;
}
.text-danger {
  font-size: 13px;
}

@media (max-width: 512px) {
  #card {
    margin-top: 11% !important;
  }

  .content {
    background: linear-gradient(to bottom, #06044d 50%, #cde4ff 50%);
  }

  .loginPhoto {
    display: none;
  }
  .logoPhoto {
    width: 40%;
    margin-left: 31%;
  }
  .hr-text {
    display: none;
  }
  .back {
    color: white;
  }
  .back svg {
    fill: white !important;
  }
}

@media (max-width: 980px) {
  .content {
    background: linear-gradient(to bottom, #06044d 50%, #cde4ff 50%);
  }
  #card {
    height: 85vh !important;
    margin-top: 7%;
    background: #ffff !important;
  }
  .loginPhoto {
    display: none;
  }
  .logoPhoto {
    margin-top: 6%;
    width: 40%;
    margin-left: 31%;
  }
  .hr-text {
    display: none;
  }
  .back {
    color: white;
  }
}
#eyes button {
  align-items: center;
  justify-content: center;
  height: 2.4em;
  background: none;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #dee2e6;
  border-left: none !important;
}
#eyes input {
  border: 1px solid #dee2e6;
  border-right: none !important;
}
