<div class="home1">
  <div>
    <img
      style="width: 100%"
      src="assets/home/background.png"
      alt="Background photo"
    />
  </div>
  <div class="home-content text-center">
    <div id="card1" class="card">
      <h2>Maintain-V</h2>
      <p class="fs-6">
        A single application for you to manage all your maintenance related
        works.
      </p>
      <p>
        Build your team in seconds, set up your work orders and maintenance
        plans
      </p>
      <div class="buttons">
        <button type="button" class="btn btn-outline-primary">
          <a routerLink="signup">Free Trial</a>
        </button>
        <button type="button" class="btn btn-outline-primary mt-2">
          <a href="http://app.maintainv.com/#/auth/login?returnUrl=%2Fdashboard"
            >Schedule a Tour</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
<div class="home2 p-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12 text-center p-2" style="margin: auto">
      <h1 id="title"><span style="color: #0066ff">DYNAMIC</span> DASHBOARD</h1>
      <p>
        With Maintain-V' s dynamic dashboard, you can instantly view the status
        of all your jobs. See how many Work Orders have been created, how many
        have been completed, the time between failures and much more.
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <img
        style="width: 100%; height: auto"
        src="assets/home/man.png"
        alt="Dashboard"
      />
    </div>
  </div>
</div>
<div class="home3 p-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <img
        style="width: 100%; height: auto"
        src="assets/home/live-support.png"
        alt="Dashboard"
      />
    </div>
    <div class="col-lg-6 col-md-6 col-12 text-center p-2" style="margin: auto">
      <h1 id="title"><span style="color: #0066ff">LIVE</span> SUPPORT</h1>
      <h4>Anywhere, Anytime, Full Support...</h4>
      <p>
        Let us know your problem and our support teams will contact you. Let us
        answer your questions thanks to the live support on Maintain-V without
        wasting time on any other application.
      </p>
    </div>
  </div>
</div>
<div class="home4 p-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 text-center p-2">
      <h1>Everything About</h1>
      <h1 id="title">
        <span style="color: #0066ff">WORK ORDER</span> MANAGEMENT
      </h1>
    </div>
    <div id="images" class="row text-center">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img
            style="width: 100%"
            src="assets/home/20944170.jpg"
            alt="Work Order Management"
          />

          <h4 style="color: #0066ff">Work Order</h4>
          <h4>Management</h4>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img
            style="width: 100%"
            src="assets/home/20943863.jpg"
            alt="Facilty Management"
          />
          <h4 style="color: #0066ff">Facility</h4>
          <h4>Management</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img
            style="width: 100%"
            src="assets/home/20943477.jpg"
            alt="Asset Management"
          />
          <h4 style="color: #0066ff">Asset</h4>
          <h4>Management</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <img
            style="width: 100%"
            src="assets/home/29116.png"
            alt="Warehouse and Stock"
          />
          <h4 style="color: #0066ff">Warehouse and Stock</h4>
          <h4>Management</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home5 p-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <img
        style="width: 100%; height: auto"
        src="assets/home/platforms.png"
        alt="Dashboard"
      />
    </div>
    <div class="col-lg-6 col-md-6 col-12 text-center p-2" style="margin: auto">
      <div>
        <h1 id="title"><span style="color: #0066ff">ON ALL</span> PLATFORMS</h1>
        <h4>Anywhere, Anytime, Full Support...</h4>
        <p>
          You can log in with mobile and web applications from all your iOS and
          Android devices.
        </p>
      </div>
      <div class="store row">
        <div
          style="margin: auto"
          class="col-5 text-start shadow-lg p-2 mb-5 bg-white rounded"
        >
          <a href="#">
            <img
              width="100px"
              height="auto"
              src="assets/home/playstore.png"
              alt=""
            />
            <span class="fs-3"> Google Play</span>
          </a>
        </div>

        <div class="col-5 text-start shadow-lg p-2 mb-5 bg-white rounded">
          <a href="#">
            <img
              width="100px"
              height="auto"
              src="assets/home/app-store.png"
              alt=""
            />
            <span class="fs-3"> App Store</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <img
    style="width: 100%"
    src="../../../assets/home/bgfo.png"
    alt="Gear Background"
  />
</div>
