<div id="text" class="row" style="background-color: #f4f5f6">
  <div id="title" class="col-12">
    <h1 data-aos="fade-up">LEARNING CENTER</h1>
    <p class="text-muted">Here are learning center about MAINTAIN-V</p>
  </div>
</div>
<div class="content">
  <div class="row">
    <div id="text1" class="col-lg-6 col-12">
      <h3>PERIODIC MAINTENANCE</h3>

      <p>
        Periodic maintenance is an ongoing process that helps extend the life of
        any piece of equipment. It involves inspecting and servicing machinery
        or equipment on a regular schedule to ensure it remains in peak
        performance. If you operate a manufacturing plant, warehouse, or another
        industrial site, periodic maintenance can prevent small issues from
        turning into major problems.
      </p>
      <p>
        It’s also an excellent way to reduce your operating costs by reducing
        the risk of unplanned downtime and repairs. At first glance, periodic
        maintenance appears like an unnecessary cost -- why not just replace
        broken parts when they break? Well, because those small repairs add up
        fast!
      </p>
      <p>
        Luckily, once you understand the benefits of periodic maintenance, it’s
        fairly easy to implement it in your own business.
      </p>
      <h5>Why is periodic maintenance Important?</h5>
      <p>
        Periodic maintenance is a system that helps you manage replacement
        parts, repairs, and other maintenance activities. If you have a machine
        or piece of equipment that needs periodic maintenance, that means you
        need to perform certain tasks regularly to keep it in good working
        condition.
      </p>
      <p>
        Periodic maintenance is important because if you don’t perform it on a
        regular basis, certain parts could break and cause your entire operation
        to shut down. Periodic maintenance helps to extend the life of your
        equipment and reduce breakdowns by identifying potential problems before
        they escalate into full-blown failures
      </p>
    </div>
    <div id="photo1" data-aos="fade-left" class="col-lg-6 col-12">
      <img src="assets/center/centerphoto1.jpg" alt="" />
    </div>
  </div>
  <div class="row">
    <div id="photo2" data-aos="fade-right" class="col-lg-6 col-12">
      <img src="assets/center/centerPhoto2.jpg" alt="" />
    </div>
    <div id="text2" class="col-lg-6 col-12">
      <h5>What is a periodic maintenance procedure plan?</h5>
      <p>
        ‍A periodic maintenance procedure plan is a document that outlines the
        maintenance activities and procedures for a given piece of equipment or
        machinery. It includes information like what types of parts are included
        in the scheduled maintenance, how often each part should be checked, and
        what specific testing or measurements should be completed. A periodic
        maintenance procedure plan should be created for every piece of
        equipment in your operation that requires periodic maintenance. With the
        right plan in place, you’ll know exactly when and what maintenance tasks
        need to be performed.
      </p>
      <h5>
        What is the difference between periodic and preventive maintenance?
      </h5>
      <p>
        ‍Periodic maintenance is a set schedule for inspection and repair of a
        machine or piece of equipment. Preventive maintenance is a proactive
        strategy for keeping machines and equipment in good working
        condition.Some of the main differences include:
      </p>
      <ul>
        <li>
          Preventative maintenance is less frequent than periodic maintenance
        </li>
        <li>
          Periodic maintenance is time-based (scheduled) maintenance activity
          whereas preventative maintenance activity depends on the condition of
          the asset
        </li>
        <li>
          The important thing to remember is that both of these activities are
          used to keep machines and equipment in good working order. The key
          difference is that periodic maintenance is used to address issues as
          they arise, whereas preventive maintenance acts as a preventative
          measure to keep machines in good working order.
        </li>
      </ul>
    </div>
    <div class="row">
      <div id="text3" class="col-lg-6 col-12">
        <h5>WHAT İS THE DİFFERENCE BETWEEN EAM AND CMMS?</h5>
        <p>
          At an essential level, enterprise asset management (EAM) software
          operates like a more advanced, larger-scare computer maintenance
          management system (CMMS). In fact, the development of EAM systems
          followed many years after the original CMMS solutions came on the
          market.
        </p>
        <p>
          Consider this metaphor. A CMMS was originally kind of like heartbeat
          monitoring equipment. It keeps an eye on the “pulse” of the factory’s
          assets, alerting maintenance technicians when they need to fix
          something, or perform preventive maintenance. Once a facility is too
          large for a CMMS to adequately cover every asset, an EAM becomes the
          right choice because of the sheer amount of factors that need to be
          tracked.
        </p>
        <p>
          In this comparison, the traditional EAM would be like a computer
          system that tracks every vital sign, medication, and body fluctuation
          of a patient from their entry to the hospital to the moment they
          leave. So while a CMMS gives you a good idea of how your assets are
          doing right this moment and help you plan for the future, an EAM
          tracks the entire lifecycle of every piece of equipment you own, from
          the second it’s purchased to the moment it becomes scrap.
        </p>
        <p>
          In addition to being larger in scope, EAM systems have additional
          features outside of preventive maintenance, including financial
          audits, lockout tagout procedures, and in-depth maintenance records
          and histories for decommissioned equipment.
        </p>
        <p>
          Today, EAM and CMMS solutions share many of the same features and
          sometimes overlap in terms of capabilities. However, it’s important to
          understand the differences that remain, the advantages and
          disadvantages of each, and which solution is best for your company.
        </p>
      </div>
      <div id="photo3" data-aos="fade-left" class="col-lg-6 col-12">
        <img src="../../../assets/center/centerPhoto3.jpg" alt="" />
      </div>
    </div>
    <div class="row">
      <h5>A Historical Perspective</h5>
      <p>
        It’s helpful to look at how both EAM and CMMS came into existence, along
        with the development of other related technologies, such as enterprise
        resource planning (ERP) solutions, network computing, and the internet
        to better understand where we are today. Some of these developments
        happened one after another, while others occurred simultaneously in
        different industries.
      </p>
    </div>
  </div>
</div>
