<div class="container py-5" style="margin-top: 4em">
  <div class="row">
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box shadow p-2 bg-white rounded">
        <img
          width="479"
          height="193"
          src="../../../assets/references/atlaslogo.webp"
          alt="Atlas Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box shadow p-2 mb-5 bg-white rounded">
        <img
          width="480"
          height="270"
          src="../../../assets/references/boneralogo.webp"
          alt="Bonera Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box shadow p-2 mb-5 bg-white rounded">
        <img
          width="540"
          height="300"
          src="../../../assets/references/cabasanlogo.webp"
          alt="Çabasan Logo"
        />
      </div>
    </div>

    <div class="col-md-4 col-6 col-lg-2">
      <div class="box2 shadow p-2 mb-5 bg-white rounded">
        <img
          width="2013"
          height="807"
          src="../../../assets/references/doguslogo.webp"
          alt="Doğuş Oto Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box2 shadow p-2 mb-5 bg-white rounded">
        <img
          width="452"
          height="111"
          src="../../../assets/references/gapinsaatlogo.webp"
          alt="Gap İnşaat Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box2 shadow p-2 mb-5 bg-white rounded">
        <img
          width="1075"
          height="430"
          src="../../../assets/references/iskurlogo.webp"
          alt="İşkur Logo"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box shadow p-2 mb-5 bg-white rounded">
        <img
          width="800"
          height="468"
          src="../../../assets/references/malatya-logo.webp"
          alt="Malatya Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box shadow p-2 mb-5 bg-white rounded">
        <img
          width="600"
          height="391"
          src="../../../assets/references/malloflogo.webp"
          alt="MallOfIstanbul Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box shadow p-2 mb-5 bg-white rounded">
        <img
          width="800"
          height="600"
          src="../../../assets/references/rudolflogo.webp"
          alt="Rudolf Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box2 shadow p-2 mb-5 bg-white rounded">
        <img
          width="655"
          height="236"
          src="../../../assets/references/torun-gyologo.webp"
          alt="Torun Logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box2 shadow p-2 mb-5 bg-white rounded">
        <img
          width="1110"
          height="600"
          src="../../../assets/references/turklogo.webp"
          alt="Türk logo"
        />
      </div>
    </div>
    <div class="col-md-4 col-6 col-lg-2">
      <div class="box2 shadow p-2 mb-5 bg-white rounded">
        <img
          width="2560"
          height="589"
          src="../../../assets/references/zorlulogo.webp"
          alt="Zorlu Logo"
        />
      </div>
    </div>
  </div>
</div>
