<div class="content">
  <h3>Delivery and Return Notice</h3>
  <p>GENERAL:</p>
  <p>
    If you place an order electronically through the website you are using, you
    are deemed to have accepted the preliminary information form and the
    distance sales contract presented to you.
  </p>
  <p>
    Buyers are subject to the provisions of the Law No. 6502 on the Protection
    of the Consumer and the Regulation on Distance Contracts (RG:
    27.11.2014/29188) and other applicable laws regarding the sale and delivery
    of the product they have purchased.
  </p>
  <p>
    Shipping charges, which are product shipping costs, will be paid by the
    buyers.
  </p>
  <p>
    Each purchased product is delivered to the person and/or organization at the
    address indicated by the buyer, provided that it does not exceed the legal
    period of 30 days. If the product is not delivered within this period,
    Buyers may terminate the contract.
  </p>
  <p>
    The purchased product must be delivered in full and in accordance with the
    qualifications specified in the order and with documents such as warranty
    certificate, user manual, if any.
  </p>
  <p>
    If it becomes impossible to sell the purchased product, the seller has to
    notify the buyer in writing within 3 days of learning about this situation.
    The total price must be returned to the Buyer within 14 days.
  </p>
  <p>IF THE PURCHASED PRODUCT IS NOT PAYABLE:</p>
  <p>
    If the Buyer does not pay the price of the purchased product or cancels it
    in the bank records, the Seller's obligation to deliver the product ends.
  </p>
  <p>SHOPPING MADE WITH THE UNAUTHORIZED USE OF CREDIT CARD:</p>
  <p>
    After the product is delivered, if it is determined that the credit card to
    which the buyer has paid is used unfairly by unauthorized persons and the
    price of the sold product is not paid to the Seller by the relevant bank or
    financial institution, the Buyer shall return the product subject to the
    contract within 3 days at the SELLER's expense. It must be returned to the
    SELLER.
  </p>
  <p>
    IF THE PRODUCT CANNOT BE DELIVERED WITHIN THE TIME FOR UNPROSECTED REASONS:
  </p>
  <p>
    If force majeure occurs that the Seller cannot foresee and the product
    cannot be delivered on time, the Buyer is notified. The buyer may request
    the cancellation of the order or the delay of the delivery until the
    obstacle is removed. If the buyer has made the payment by credit card and
    cancels it, the product price will be returned to the bank within 14 days
    from this cancellation, but it is possible that the bank will transfer it to
    the buyer's account within 2-3 weeks.
  </p>
  <p>BUYER'S OBLIGATION TO CHECK THE PRODUCT:</p>
  <p>
    The buyer will inspect the contracted goods/services before receiving them;
    will ensure that the application works correctly. The received goods /
    services will be considered as undamaged and intact. The BUYER must
    carefully protect the goods/services after delivery. If the right of
    withdrawal is to be used, the goods/services should not be used. Invoice
    must be returned along with the product.
  </p>
  <p>RIGHT OF WITHDRAWAL:</p>
  <p>
    BUYER; Within 14 (fourteen) days from the date of delivery of the purchased
    product to himself or to the person/organization at the address indicated,
    he can use his right to withdraw from the contract by rejecting the goods
    without taking any legal or criminal responsibility and without giving any
    reason, provided that he notifies the SELLER via the contact information
    below.
  </p>
  <p>CONTACT INFORMATION TO BE NOTIFIED OF THE SELLER'S RIGHT OF WITHDRAWAL:</p>
  <p>COMPANY</p>
  <p>NAME/TITLE:</p>
  <p>ADDRESS:</p>
  <p>EMAIL:</p>
  <p>TEL:</p>
  <p>DURATION OF THE RIGHT OF WITHDRAWAL:</p>
  <p>
    If the buyer has purchased a service, this 14-day period starts from the
    date of signing the contract. Before the expiry of the right of withdrawal,
    the right of withdrawal cannot be exercised in the service contracts where
    the performance of the service has started with the approval of the
    consumer.
  </p>
  <p>
    The costs arising from the use of the right of withdrawal belong to the
    SELLER.
  </p>
  <p>
    In order to exercise the right of withdrawal, the SELLER must be notified in
    writing by registered mail, fax or e-mail within 14 (fourteen) days and the
    product has not been used within the framework of the provisions of the
    "Products for which the Right of Withdrawal cannot be exercised" in this
    contract.
  </p>
  <p>USE OF THE RIGHT OF WITHDRAWAL:</p>
  <p>
    The invoice of the product delivered to the 3rd person or the BUYER, (If the
    invoice of the product to be returned is corporate, it must be sent with the
    return invoice issued by the institution when returning it. Order returns
    whose invoices are issued on behalf of the institutions cannot be completed
    unless a RETURN INVOICE is issued.) Return form, Return The products to be
    delivered must be delivered complete and undamaged, together with the box,
    packaging, and standard accessories, if any.
  </p>
  <p>RETURN TERMS:</p>
  <p>
    The SELLER is obliged to return the total price to the BUYER within 10 days
    at the latest from the receipt of the withdrawal notification and to return
    the goods within 20 days.
  </p>
  <p>
    If there is a decrease in the value of the goods due to the BUYER's fault or
    if the return becomes impossible, the BUYER is obliged to compensate the
    SELLER's losses at the rate of the BUYER's fault. However, the BUYER is not
    responsible for the changes and deteriorations that occur due to the proper
    use of the goods or products within the period of the right of withdrawal.
  </p>
  <p>
    In case of falling below the campaign limit amount set by the SELLER due to
    the exercise of the right of withdrawal, the discount amount used within the
    scope of the campaign will be cancelled
  </p>
  <p>PRODUCTS THAT CANNOT BE USED WITH THE RIGHT OF WITHDRAWAL:</p>
  <p>
    The goods that are prepared in line with the request of the BUYER or clearly
    personal needs and that are not suitable for recycling.
  </p>
</div>
