.content {
  margin-top: 10em;
}
.accordion {
  padding-left: 5em;
  margin-top: 1em;
}
#text {
  padding: 5em;
  left: 0 !important;

  float: right !important;
  h1 {
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
    font-size: 10em;
  }
}

//
